@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <div class="homepagelogo" ><img src="~/css/logo.png" alt="" class="img img-responsive"></div>
    </div>
</div>

<style>
    .homepagelogo{
        padding-top: 150px;
        opacity: 0.4;
    }
</style>