<!--
Hemant 10/03/2024 Sales profit per source Report
Hemanth 10/10/2024 preview and print changes added
-->
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sales / Profit Per Source";
}

<div id="content-center" class="row">

    <div class="web-form page login-page col-sm-12">

        <div class="form-horizontal">

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            From
                        </label>
                        <div class="col-sm-8">
                            <input type="date" id="txtFromDate" class="form-control activateFormRefreshBtn" style="font-size:13px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            To Date
                        </label>
                        <div class="col-sm-8">
                            <input type="date" id="txtToDate" class="form-control activateFormRefreshBtn" style="font-size:13px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="mt-5px">
                        <input type="checkbox" id="cbFillFromToDates" checked /> <span>All Dates</span>
                        <input type="button" value="Last Month" class="formsGlobalUniqueBtn btnGetLastMonthDates" />
                        <input type="button" value="Last Week" class="formsGlobalUniqueBtn btnGetLastWeekDates" />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Store
                        </label>
                        <div class="col-sm-8">
                            <select id="store" name="store" class="form-control">
                                @{
                                    if (ViewBag.StoreData != null)
                                    {
                                        foreach (var store in ViewBag.StoreData)
                                        {
                                            <option value="@store.Value">@store.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="radio" value="rdoDateonly" class="activateFormRefreshBtn" id="rdoDateonly" name="rdoDateonly" checked="checked" /> Invoice Date
                    &nbsp;&nbsp;&nbsp;
                    <input type="radio" value="rdoPickupdate" class="activateFormRefreshBtn" id="rdoPickupdate" name="rdoDateonly" /> Pickup Date
                </div>
                <div class="col-md-4 text-right" style="padding-top: 8px;">
                    <input type="button" value="Reset" class="formsGlobalUniqueBtn btnResetFormValues" id="resetFormValues" />
                    <input type="button" id="btnFormResultsSearch" value="Refresh" class="refresh_btn refreshBtnDefault" />
                </div>
            </div>


        </div>


    </div>

    <div class="mt-4 white-box pos-rel" id="divDataTableReport">

        <div class="row col-md-6 report_buttons">
            <div style="margin:3px;">
                <input type="button" value="PDF" table-id="dataTableForSalesProfitPerSource" class="formsGlobalUniqueBtn btnDataTableDownloadPDF" id="btnPDF" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Excel" table-id="dataTableForSalesProfitPerSource" class="formsGlobalUniqueBtn btnDataTableDownloadExcel" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Preview" table-id="dataTableForSalesProfitPerSource" id="btnDataTablePreview" class="formsGlobalUniqueBtn" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Print" table-id="dataTableForSalesProfitPerSource" id="btnDataTablePrint" class="formsGlobalUniqueBtn" />
            </div>
            <div style="margin:3px;display:none;">
                <input type="button" value="Email" table-id="dataTableForSalesProfitPerSource" class="formsGlobalUniqueBtn" />
            </div>

            <div style="margin:3px;display:none;">
                <input type="button" value="Simple Excel" class="formsGlobalUniqueBtn" />
            </div>
        </div>
        <div class="row dataTableReport" id="printContent">
            <div><br /></div>
            <table id="dataTableForSalesProfitPerSource" class="dataTable display nowrap table" style="width:100%">
                <thead>
                    <tr>
                        <th style="text-align:center !important;">Sources</th>
                        <th style="text-align:center !important;">Amount</th>
                        <th style="text-align:center !important;">Cost</th>
                        <th style="text-align:center !important;">Profit</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot id="tfooter">
                    <tr>
                        <th></th>
                        <th id="summaryAmount" class="text-right numericColumns"></th>
                        <th id="summaryCost" class="text-right numericColumns"></th>
                        <th id="summaryProfit" class="text-right numericColumns"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        var table = $('#dataTableForSalesProfitPerSource').DataTable({
            dom: 'Blfrtip',
            searching: true,
            select: true,
            buttons: [],
            pageLength: 25,
            bInfo: false,
            aaSorting: []
        })

        $('#resetFormValues').on("click", function (e) {
            $("#cbFillFromToDates").prop("checked", true);
            fillFromToDates();
            $('#store').prop('selectedIndex', 0);
            $('#rdoDateonly').prop('checked', true);

        });

        $('#rdoDateonly').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#rdoPickupdate').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });
        $('#store').on("click", function (e) {
            buttonStyleClassChange('btnFormResultsSearch');
        });

        fillFromToDates();
    });

    function buttonStyleClassChange(btnId) {
        $('#' + btnId).removeClass('refreshBtnDefault').addClass('needToRefreshBtn');
        $('#' + btnId).val("Refresh *");
    }

    function existAutoFilledData() {

        $('#summaryAmount').html('');
        $('#summaryCost').html('');
        $('#summaryProfit').html('');
        if ($('#txtFromDate').val() != "")
            fromdate = $('#txtFromDate').val();
        else
            fromdate = "1990-01-01";

        if ($('#txtToDate').val() != "")
            todate = $('#txtToDate').val();
        else
            todate = "2099-12-31";

        let bypicdate = "DATE";
        let rdt = $("input[name='rdoDateonly']:checked").val();
        if (rdt == "rdoPickupdate") {
            bypicdate = "LASTDATE";
        }

        var store = $('#store').val();

        var url = '@Url.Action("GetSalesProfitPerSource", "ListOfItemsSold", new { Area = "" })';

        var data = {
            FROMDATE: fromdate,
            DateTo: todate,
            Store: store,
            ByWhichDate: bypicdate,
            Details: "",
            Sources: ""
        };

        var table = $('#dataTableForSalesProfitPerSource').DataTable();


        table.clear().draw();
        var jqxhr = $.post(url, data, function () { })
            .done(function (response) {
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);

                let summaryAmount = 0;
                let summaryCost = 0;
                let summaryProfit = 0;

                for (var i = 0; i < json.length; i++) {
                    if (json[i].Amount != '' && json[i].Amount != null) {
                        summaryAmount = summaryAmount + json[i].Amount;
                    }
                    if (json[i].Cost != '' && json[i].Cost != null) {
                        summaryCost = summaryCost + json[i].Cost;
                    }
                    if (json[i].Profit != '' && json[i].Profit != null) {
                        summaryProfit = summaryProfit + json[i].Profit;
                    }
                        table.row.add([
                            json[i].Sources,
                            formatCurrency(json[i].Amount),
                            formatCurrency(json[i].Cost),
                            formatCurrency(json[i].Profit)
                        ]);

                }
                table.draw();
                $('#summaryAmount').html(formatCurrency(summaryAmount));
                $('#summaryCost').html(formatCurrency(summaryCost));
                $('#summaryProfit').html(formatCurrency(summaryProfit));
            })
            .fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("GETSoldOrInstock Request Failed: " + err);
            });

    }

    function formatCurrency(total) {
        var neg = false;
        if (total < 0) {
            neg = true;
            total = Math.abs(total);
        }
        return (neg ? "-" : '') + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
    }


</script>
<style>

    .table tfoot tr th {
        text-align: right !important;
        padding: 0px !important;
    }

    .table tbody tr td {
        text-align: left !important;
    }

    table tbody tr td:nth-child(2) {
        text-align: right !important;
        padding: 0px !important;
    }

    table tbody tr td:nth-child(3) {
        text-align: right !important;
        padding: 0px !important;
    }

    table tbody tr td:nth-child(4) {
        text-align: right !important;
        padding: 0px !important;
    }

    .padding-left-zero {
        padding-left: 0px !important;
    }
</style>