<!--
  * Created by Phanindra 09/10/2024
  * Phanindra 9/21/2024 Added decimals for numeric columns
-->
@{

    if (Session["UserID"] == null)
    {
        Layout = null;
        Response.Redirect("~/Login/Index");
    }
    else
    {
        Layout = null;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@model YJWeb.Models.AnalasysServiceModel

<div id="content-center" class="row">

    <div class="web-form page login-page col-sm-12" id="FormForTotalMonthlySalesForACustomer">

        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            From Date
                        </label>
                        <div class="col-sm-8">
                            <input type="date" id="txtFromDate1" class="form-control resetFromDate activateFormRefreshBtn" style="font-size:13px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <label class="col-sm-4">
                            To Date
                        </label>
                        <div class="col-sm-8">
                            <input type="date" id="txtToDate1" class="form-control resetToDate activateFormRefreshBtn" style="font-size:13px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="mt-5px">
                        <input type="checkbox" id="cbFillFromToDates" checked /> <span>All Dates</span>
                        <input type="button" value="Last Month" class="formsGlobalUniqueBtn btnGetLastMonthDates" />
                        <input type="button" value="Last Week" class="formsGlobalUniqueBtn btnGetLastWeekDates" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-4 text-right">
                            Customer
                        </label>
                        <div class="col-sm-8">
                            <div class="autocomplete-dropdown">
                                <div id="CustomerCodesForAutofill" class="d-none">@Html.Raw(Json.Encode(Model.CustomerCodes)) </div>
                                <input type="text" id="txtCustomerCode" class="form-control resetTextField activateFormRefreshBtn" placeholder="Search...">
                                <div id="autocomplete-list1" class="autocomplete-items"></div>
                            </div>
                            <div class="customerCodeSearchDiv">
                                <button class="formsGlobalUniqueBtn customerCodeSearchBtn1 showbsmodal activateFormRefreshBtn" data-modal-id="selectCustomerAccModal" data-bs-toggle="modal" data-bs-target="#selectCustomerAccModal">...</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                </div>
                <div class="col-sm-4 text-right">
                    <input type="button" value="Reset" form-id="FormForTotalMonthlySalesForACustomer" class="formsGlobalUniqueBtn btnResetFormValues" />
                    <input type="button" id="btnFormResultsSearch" value="Refresh" class="refresh_btn refreshBtnDefault" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" id="divUploadImage" style="display:none;">
                    <input id="fileupload" type="file" /><br /><br />
                    <input type="button" id="uploadButton" value="Upload" />
                </div>
            </div>
            <div id="divImages" style="text-align:right;display:none;" class="col-lg-2">
                <img id="image" src="" alt="" style="max-width: 133% !important;" />
            </div>
        </div>


    </div>

    <div class="mt-4 white-box pos-rel" id="divDataTableReport">

        <div class="row col-md-6 report_buttons">
            <div style="margin:3px;">
                <input type="button" value="PDF" table-id="dataTableForTotalMonthlySalesForACustomer" class="formsGlobalUniqueBtn btnDataTableDownloadPDF" id="btnPDF" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Excel" table-id="dataTableForTotalMonthlySalesForACustomer" class="formsGlobalUniqueBtn btnDataTableDownloadExcel" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Preview" table-id="dataTableForTotalMonthlySalesForACustomer" id="btnDataTablePreview" class="formsGlobalUniqueBtn" />
            </div>
            <div style="margin:3px;">
                <input type="button" value="Print" table-id="dataTableForTotalMonthlySalesForACustomer" id="btnDataTablePrint" class="formsGlobalUniqueBtn" />
            </div>
            <div style="margin:3px;display:none;">
                <input type="button" value="Email" table-id="dataTableForTotalMonthlySalesForACustomer" class="formsGlobalUniqueBtn" />
            </div>

            <div style="margin:3px;display:none;">
                <input type="button" value="Simple Excel" class="formsGlobalUniqueBtn" />
            </div>
        </div>
        <div class="row dataTableReport">

            <table id="dataTableForTotalMonthlySalesForACustomer" class="dataTable display nowrap table" style="width:100%">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th class="numericColumns">Sales</th>
                        <th class="numericColumns">Returns</th>
                        <th class="numericColumns">Credits</th>
                        <th class="numericColumns">Net Sales</th>
                        <th class="numericColumns">Payments</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot id="tfooter">
                    <tr>
                        <th class="text-right"></th>
                        <th class="text-right numericColumns"></th>
                        <th class="text-right numericColumns"></th>
                        <th class="text-right numericColumns"></th>
                        <th class="text-right numericColumns"></th>
                        <th class="text-right numericColumns"></th>
                    </tr>
                </tfoot>

            </table>
            <br>

        </div>
    </div>

</div>




<script type="text/javascript">

    var custcode = ""; var txtFromDate1 = "1990-01-01", txtToDate1 = "2099-12-31";
    function ClearControls() {
        custcode = ""; txtFromDate1 = "1990-01-01"; txtToDate1 = "2099-12-31";
        $('#txtCustomerCode').val('');
        $('#txtFromDate1').val('');
        $('#txtToDate1').val('');

        existAutoFilledData();
    }
    function existAutoFilledData() {
        custcode = $('#txtCustomerCode').val();
        if ($('#txtFromDate1').val() != "")
            fromdate1 = $('#txtFromDate1').val();
        else
            fromdate1 = "1990-01-01";

        if ($('#txtToDate1').val() != "")
            todate1 = $('#txtToDate1').val();
        else
            todate1 = "2099-12-31";


        iSByPickupDate = chkLayawaysUnpaid = "false";



        BindTotalMonthlySalesForACustomer(custcode, fromdate1, todate1, chkLayawaysUnpaid, iSByPickupDate);
    }

    function BindTotalMonthlySalesForACustomer(custcode, fromdate1, todate1, chkLayawaysUnpaid, iSByPickupDate) {
        var url = '@Url.Action("GetTotalMonthlySalesForACustomer", "Analysis", new { Area = "" })';
        var data = {
            ccode: custcode,
            strFrom1: fromdate1,
            strTo1: todate1,
            strchkLayawaysUnpaid: chkLayawaysUnpaid,
            striSByPickupDate: iSByPickupDate
        };
        var jqxhr = $.post(url, data, function () { })
        .done(function (response) {
            var json;
            if (response instanceof Object)
                json = response;
            else
                json = $.parseJSON(response);

            var table = $('#dataTableForTotalMonthlySalesForACustomer').DataTable();
            table.clear().draw();


            $("#dataTableForTotalMonthlySalesForACustomer tbody").empty();
            var trans = json;
            totalsales = totalrtv = totalcredits = totalnet = totalpayments = 0;
            var tr;
            //alert(json);
            for (var i = 0; i < json.length; i++) {
                totalsales += parseFloat(json[i].sales);
                totalrtv += parseFloat(json[i].rtv);
                totalcredits += parseFloat(json[i].credits);
                totalnet += parseFloat(json[i].net);
                totalpayments += parseFloat(json[i].payments);

                table.row.add([
                    json[i].strFormattedDate,
                    numberWithCommas(json[i].sales),
                    numberWithCommas(json[i].rtv),
                    numberWithCommas(json[i].credits),
                    numberWithCommas(json[i].net),
                    numberWithCommas(json[i].payments),
                ]);
            }

            $('#tfooter').find('th').eq(0).html("Grand Total");
            $('#tfooter').find('th').eq(1).html(numberWithCommas(totalsales));
            $('#tfooter').find('th').eq(2).html(numberWithCommas(totalrtv));
            $('#tfooter').find('th').eq(3).html(numberWithCommas(totalcredits));
            $('#tfooter').find('th').eq(4).html(numberWithCommas(totalnet));
            $('#tfooter').find('th').eq(5).html(numberWithCommas(totalpayments));

            table.draw();
            addNumericColumnsClasstoDT("dataTableForTotalMonthlySalesForACustomer", [1, 2, 3, 4, 5]);

            // TODO : Bind data to table
        })
        .fail(function (jqxhr, textStatus, error) {
            var err = textStatus + ", " + error;
            console.log("GETTotalMonthlySalesForACustomer Request Failed: " + err);
        });
    }


    $(document).ready(function () {

        var table = $('#dataTableForTotalMonthlySalesForACustomer').DataTable({
            dom: 'Blfrtip',
            searching: true,
            select: true,
            buttons: [],
            pageLength: 25
        });

        $(document).on('click', ".paginate_button", function () {
            addNumericColumnsClasstoDT("dataTableForTotalMonthlySalesForACustomer", [1,2,3,4,5]);
        });

        fillFromToDates();
    });

</script>


