<!--
  * Created by Manoj 27-OCT-2025
  * 11/06/2025  Manoj - changed textarea height
-->
<style>
    .report-title {
        text-align: start;
        position: absolute;
        top: -14px;
        left: 39%;
        transform: translateX(-50%);
        background: #fff;
        padding: 0 10px;
        font-weight: 600;
        font-size: 10px;
    }
</style>
<div id="content-center" class="row">
    <div class="web-form page login-page col-sm-12" id="FormForBagsGivenToPerson">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <label class="col-sm-3">
                            Date
                        </label>
                        <div class="col-sm-6">
                            <input type="date" id="LayawayAddNotedate" class="form-control fs-13 resetToDate activateFormRefreshBtn" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">
                            Time
                        </label>
                        <div class="col-sm-6">
                            <input type="time" id="LayawayAddNotetime" class="form-control fs-13 resetToDate activateFormRefreshBtn" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3">
                            User
                        </label>
                        <div class="col-sm-6">
                            <input type="text" id="LayawayAddNoteuser" value="@ViewBag.LoggedUser" class="form-control fs-13 resetToDate activateFormRefreshBtn" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="p-2" style="border: 2px groove; border-radius: 5px; position: relative;">
                        <p class="report-title">Communication</p>
                        <div class="form-check mr-2">
                            <input type="checkbox" class="form-check-input activateFormRefreshBtn is-sel-checked" id="laywayAddisSpokeToCheck" />
                            <label for="laywayAddisSpokeToCheck" class="form-check-label" style="font-size:13px !important; ">Spoke To</label>
                        </div>
                        <div class="form-check mr-2">
                            <input type="checkbox" class="form-check-input activateFormRefreshBtn is-sel-checked" id="laywayAddisLeftMsgCheck" />
                            <label for="laywayAddisLeftMsgCheck" class="form-check-label" style="font-size:13px !important; ">Left Message #</label>
                        </div>
                        <div class="form-check mr-2">
                            <input type="checkbox" class="form-check-input activateFormRefreshBtn is-sel-checked" id="laywayAddisNoCommCheck" />
                            <label for="laywayAddisNoCommCheck" class="form-check-label" style="font-size:13px !important; ">No Communication</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 d-flex align-items-end">
                    <input id="SaveLayawayNote" type="button" value="Save" class="btn btn-success" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-floating" style="width:100%">
                    <label for="floatingTextarea2">Notes</label>
                    <textarea class="form-control" id="layawayNote" placeholder="Leave a comment here" style="height: 250px"></textarea>

                </div>
            </div>

        </div>
    </div>
</div>

<div id="confirmModal2" class="modal" tabindex="-1" style="display: none; position: fixed; z-index: 1050; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
    <div style="background: white; margin: 10% auto; padding: 20px; width: 400px; border-radius: 6px; text-align: center;">
        <p id="confirmMessage"></p>
        <div style="margin-top: 20px;">
            <button id="btnConfirmYes" class="btn btn-primary">Yes</button>
            <button id="btnConfirmNo" class="btn btn-secondary">No</button>
        </div>
    </div>
</div>


<script type="text/javascript">

    var invoiceNo = '@ViewBag.invNo';
    var LoggedUser = '@ViewBag.LoggedUser';
    var isSavebtnclick = false;
    var todayDate = "", todayDate = ""

    function saveLayawayNotes() {

        var date = $('#LayawayAddNotedate').val() != "" ? $('#LayawayAddNotedate').val() : todayDate;
        var time = $('#LayawayAddNotetime').val() != "" ? $('#LayawayAddNotetime').val() :  todayDate;
        var user = $('#LayawayAddNoteuser').val() != "" ? $('#LayawayAddNoteuser').val() : LoggedUser;
        var note = $('#layawayNote').val() ?? "";

        var communiction = "";

        if ($('#laywayAddisSpokeToCheck').prop('checked')) {
            communiction = "SPOKETO";
        }
        if ($('#laywayAddisLeftMsgCheck').prop('checked')) {
            communiction = "LEFTMESSAGE";
        }
        if ($('#laywayAddisNoCommCheck').prop('checked')) {
            communiction = "NOCOMMUNICATION";
        }

        if (communiction == "") {
            return alert("Select communication type.");
        }

        var url = '@Url.Action("SaveLayawayfollowupNotes", "SalesLayaways" , new {Area = ""})'

        var data = {
            invno: invoiceNo,
            date: date,
            commmethod: communiction,
            message: note,
            time: time
        }

        $.ajax({
            url: url,
            type: "POST",
            data: data,
            success: function (resposne) {
                if (resposne.code == true) {
                    alert("Note Added.");
                    $('#LayawayAddNoteModal').fadeOut();
                    $('#BtnOpenfrmNotesBtn').click();
                } else {
                    alert(response.message)
                }
            },
            error: function (err) {
                console.log('Error setting session:', err);
            }
        })

    }

    $(document).ready(function () {

        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var year = now.getFullYear();
        var today = year + "-" + month + "-" + day;

        var hours = now.getHours();
        var minutes = ("0" + now.getMinutes()).slice(-2);
        var seconds = ("0" + now.getSeconds()).slice(-2);
        var ampm = hours >= 12 ? "PM" : "AM";

        hours = hours % 12;
        hours = hours ? hours : 12;
        hours = ("0" + hours).slice(-2);

        var timeNow = hours + ":" + minutes + ":" + seconds;

        todayDate = today;
        todayDate = timeNow;

        if ($('#LayawayAddNotetime').length > 0) {
            $('#LayawayAddNotetime').val(timeNow).removeAttr('disabled');
        }
        if ($('#LayawayAddNotedate').length > 0) {
            $('#LayawayAddNotedate').val(today).removeAttr('disabled');
        }


        $(document).on('change', '.is-sel-checked', function () {
            $('.is-sel-checked').not(this).prop('checked', false);
        });

        $('#SaveLayawayNote').off('clcik').on('click', function () {
            isLayawayNoteSaved = true;
            saveLayawayNotes()
        })

        $('#close1, #closed1').off('click').on('click', function () {

            if (!isLayawayNoteSaved) {
                $('#confirmMessage').html("OK to Discard the Changes and Close This Form?");
                $('#confirmModal2').fadeIn();

                $('#btnConfirmYes').off('click').on('click', function () {
                    $('#confirmModal2').fadeOut();
                    $('#LayawayAddNoteModal').fadeOut();
                    console.log("Form closed without saving.");
                });

                $('#btnConfirmNo').off('click').on('click', function () {
                    $('#confirmModal2').fadeOut();
                    console.log("User cancelled close.");
                });
            }

        });

    });

</script>


