<!--
  * Created by Phanindra
    Phanindra 12/07/2024 Worked on confirmation message related issue
    Phanindra 02/11/2026 Converted to YJCore.
-->
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@model YJWebCoreMVC.Models.SalesPaymentsCreditsModel

<div id="content-center" class="row">

    <div class="web-form page login-page col-sm-12" id="FormForEditQuotation">

        <div class="form-horizontal">
            <div>
                <div class="row">
                    <div class="col-sm-5 text-right">
                        <label>Receipt/Refund No</label>
                    </div>
                    <div class="col-sm-3 ">
                        <input type="text" id="receipt_no" class="form-control" />
                    </div>
                    <div class="col-sm-4">
                        <button class="formsGlobalUniqueBtn deleteCashReceipt" id="deleteCashReceipt">Delete Receipt</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

<script type="text/javascript">

    $(document).on('click', '#deleteCashReceipt', function () {

        receipt_no = $("#receipt_no").val();
        $.ajax({
            url: "../SalesPaymentsCredits/CheckDeleteCashReceipt",
            type: "POST",
            data: {
                inv_no: receipt_no
            },
            success: function (response) {
                //alert(res);
                var data = JSON.parse(response);
                if (data.message.includes("Customer:")) {
                    if (confirm(data.message)) {
                        $.ajax({
                            url: "../SalesPaymentsCredits/DeleteCashReceipt",
                            type: "POST",
                            data: {
                                acc: data.acc,
                                receipt_no: receipt_no,
                                paid: data.paid,
                                transact: data.transact
                            },
                            success: function (res) {
                                alert(res);
                                $("#receipt_no").val('');
                            }
                        })
                    }
                } else {
                    alert(data.message);
                }
            }
        })
    })

</script>
<style>
    #FormForEditQuotation {
        max-width: 500px;
        margin: 0px auto;
    }
</style>