<!--
  * Created by Phanindra on 12-12-2024
  * Phanindra 01/07/2025 Worked on validating recvble number and data passing issue to save data.
    Phanindra 02/11/2026 Converted to YJCore.
-->
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@model YJWebCoreMVC.Models.SalesPaymentsCreditsModel

<div id="content-center" class="row">

    <div class="web-form page login-page col-sm-12" id="FormForEditQuotation">
        <input type="hidden" id="pageType" value="@ViewBag.PageType" />
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Rcvable No.
                        </label>
                        <div class="col-sm-8">
                            <input type="text" id="txtAdjRcvableNo" class="form-control activateFormRefreshBtn" value="@ViewBag.AdjRcvableNo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-4 customerType">
                            Customer
                        </label>
                        <div class="col-sm-8">
                            <div class="autocomplete-dropdown">
                                <input type="text" id="txtCustomerCode2" class="form-control activateFormRefreshBtn" disabled>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-4">
                            Entry Date
                        </label>
                        <div class="col-sm-8">
                            <input type="date" id="txtEntryDate" class="form-control fs-13 activateFormRefreshBtn " />
                        </div>
                    </div>
                </div>
            </div>

            <p class="blue-bg-para">Adj. Receivable Details</p>
            <div class="mt-2 white-box pos-rel" id="">
                <div class="row">
                    <div class="well empty-well CashReceiptsInfo">
                        <p>No Data to display</p>
                    </div>
                </div>
            </div>

            <div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-6">Credits</label>
                                    <div class="col-sm-6"><input type="text" id="credits" class="form-control" value="$0.00" readonly /></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-6">Debits</label>
                                    <div class="col-sm-6"><input type="text" id="debits" class="form-control" value="$0.00" readonly /></div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <label class="col-sm-6">Difference</label>
                                    <div class="col-sm-6"><input type="text" id="diference" class="form-control" value="$0.00" readonly /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 text-right">
                        <button class="formsGlobalUniqueBtn saveReceipt">Save</button>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#txtEntryDate").val(today);

    })

    $(document).on('blur', '#txtAdjRcvableNo', function () {
        AdjRcvableNo = $("#txtAdjRcvableNo").val();

        $.ajax({
            url: '../SalesPaymentsCredits/GetPayment',
            async: false,
            data: {
                inv_no: AdjRcvableNo,
                rtv_pay: "F"
            },
            success: function (response) {
                if (response == null || response == "null") {
                    alert("Invalid Receivable No.");
                    $("#txtAdjRcvableNo").val('');
                    $("#txtAdjRcvableNo").focus();
                    return false;
                }
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);

                var tableData = json.Table;

                // Iterate through the Table array
                tableData.forEach(function (row) {
                    $("#txtCustomerCode2").val(row.ACC);
                    $("#txtEntryDate").val(row.DATE.split('T')[0]);
                });
                GetReceiptEditData();
            }
        })

    })

    function GetReceiptEditData() {

        customerCode = $("#txtCustomerCode2").val();
        //$(".autocomplete-items").empty();
        $(".CashReceiptsInfo").html();
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        //customerCode = $("#txtCustomerCode2").val();
        if (customerCode.trim() == '') {
            alert("Cannot edit the Receivable");
            $(".CashReceiptsInfo").html('');
            return false;
        }
        lRefund = false;
        isccswipe = false;
        AdjRcvableNo = $("#txtAdjRcvableNo").val();
        $.ajax({
            url: '../SalesPaymentsCredits/GetReceiptEditData',
            async: false,
            data: {
                acc: customerCode,
                receipt_no: AdjRcvableNo,
                lRefund: lRefund,
                isccswipe: isccswipe
            },
            success: function (response) {
                //alert(response);
                var json;
                if (response instanceof Object)
                    json = response;
                else
                    json = $.parseJSON(response);

                cashReceipts = "";
                cashReceipts += "<table class='table tabled-bordered'>";
                cashReceipts += "<thead>";
                cashReceipts += "<tr><th>Ref Type</th><th>Ref No</th><th>Ref Date</th><th>Orig Amt</th><th>Balance</th><th>Applied</th><th class='d-none'></th><th class='d-none'></th><th class='d-none'></th></tr>";
                cashReceipts += "</thead>";
                cashReceipts += "<tbody id='CashReceiptsInfo'>";
                var trans = json;

                for (var i = 0; i < json.length; i++) {
                    cashReceipts += "<tr>";
                    cashReceipts += "<td class='ref_type'>" + json[i].REF_TYPE + "</td>";
                    cashReceipts += "<td class='ref_no' id='ref_no_" + json[i].REF_NO + "'>" + json[i].REF_NO + "</td>";
                    cashReceipts += "<td class='ref_date'>" + json[i].REF_DATE.split('T')[0] + "</td>";
                    cashReceipts += "<td class='original'>" + numberWithCommas(json[i].ORIGINAL) + "</td>";
                    cashReceipts += "<td class='bal_amount'>" + numberWithCommas(json[i].BAL_AMOUNT) + "</td>";
                    cashReceipts += "<td class='app_amt_td'><input type='text' class='app_amount_values' value='" + numberWithCommas(json[i].APP_AMOUNT) + "'></td>";
                    cashReceipts += "<td class='d-none appamt'>" + json[i].APPAMT + "</td>";
                    cashReceipts += "<td class='d-none appflg'>" + json[i].APPFLG + "</td>";
                    cashReceipts += "<td class='d-none credits'>" + numberWithCommas(json[i].CREDITS) + "</td>";
                    cashReceipts += "</tr>";

                }
                cashReceipts += "</tbody>";
                cashReceipts += "</table>";
                $(".CashReceiptsInfo").html(cashReceipts);
                $("#ref_no_" + AdjRcvableNo).siblings(".app_amt_td").find(".app_amount_values").focus();
                //$("#autocomplete-list1").empty();
                //updateRecordAmounts();
                calculateCrDb();
            }
        })

    }

    $(document).on('click', ".saveReceipt", function () {
        AdjRcvableNo = $("#txtAdjRcvableNo").val();
        customerCode = $("#txtCustomerCode2").val();
        entryDate = $("#txtEntryDate").val().replace('{', '').replace('}', '');
        paymentNote = $("#txtPaymentNote").val();
        credits = $("#credits").val();
        debits = $("#debits").val();
        if (AdjRcvableNo.trim() == "") {
            alert("Adj# should not blank.");
            return false;
        }
        if (customerCode.trim() == "") {
            alert("Billing Account no. cannot be empty");
            return false;
        }
        if (credits != debits) {
            alert("Credits Must match Debits");
            return false;
        }

        dtAddCashReceipt = [];
        index = 0;
        $("#CashReceiptsInfo tr").each(function () {
            //alert($(this).find('.styleno').val());
            dtAddCashReceipt[index] = {};
            dtAddCashReceipt[index]['REF_TYPE'] = $(this).find('.ref_type').html();
            dtAddCashReceipt[index]['REF_NO'] = $(this).find('.ref_no').html();
            dtAddCashReceipt[index]['REF_DATE'] = $(this).find('.ref_date').html();
            dtAddCashReceipt[index]['ORIGINAL'] = parseFloat($(this).find('.original').html().replace("$", "")).toFixed(2);
            dtAddCashReceipt[index]['BAL_AMOUNT'] = parseFloat($(this).find('.bal_amount').html().replace("$", "")).toFixed(2);
            //dtAddCashReceipt[index]['CURR_TYPE'] = $(this).find('.curr_type').html();
            //dtAddCashReceipt[index]['CURR_RATE'] = $(this).find('.curr_rate').html().replace("$", "");
            //dtAddCashReceipt[index]['CURR_AMOUNT'] = $(this).find('.curr_amount').html().replace("$", "");
            dtAddCashReceipt[index]['APP_AMOUNT'] = parseFloat($(this).find('.app_amt_td').find('.app_amount_values').val().replace("$", "")).toFixed(2);
            dtAddCashReceipt[index]['APPAMT'] = parseFloat($(this).find('.appamt').html().replace("$", "")).toFixed(2);
            dtAddCashReceipt[index]['APPFLG'] = $(this).find('.appflg').html();
            //dtAddCashReceipt[index]['CREDITS'] = $(this).find('.credits').html().replace("$", "");
            index++;
        })
        //alert(dtAddCashReceipt);
        dtAddCashReceiptXml = jsonToXml("EDITRECEIPT", dtAddCashReceipt);
        //dtAddCashReceiptJson = JSON.stringify(dtAddCashReceipt);

        pcname = "";
        Cash_Register = "";
        storecodeinuse = $("#StoreCodeInUse").val();
        loggeduser = $("#UserId").val();

        $.ajax({
            url: '../SalesPaymentsCredits/SaveEditAdjRcvable',
            type: 'post',
            data: {
                dtPayment: dtAddCashReceiptXml,
                acc: customerCode,
                adj_no: AdjRcvableNo,
                entry_date: entryDate
            },
            success: function (response) {
                if (response == "True") {
                    alert("Adj. receivable updated Successfully");
                    //window.location.reload();
                    $.ajax({
                        url: "../SalesPaymentsCredits/PrintAdjRcvable",
                        type: "POST",
                        data: {
                            inv_no: AdjRcvableNo
                        },
                        success: function (res) {
                            //alert(res);
                            $("#firstCommonBsModal .modal-title").html("Print Receipt");
                            $("#firstCommonBsModal .modal-body").html(res);
                            $("#firstCommonBsModal").show();
                            $("#firstCommonBsModal").addClass('show');
                            $("#firstCommonBsModal .closeModal").addClass("closePrintModel");
                        }
                    })
                    //ClearControls();
                } else {
                    alert(response);
                }
            }
        })

    })

    $(document).on('blur', '.app_amount_values', function () {
        curelm = $(this);
        applied = curelm.val().replace("$", "").replace(",", "");
        if (Math.abs(applied) == 0 || Math.abs(applied) == 0.00) {
            return false;
        }
        balance = curelm.parent('td').siblings('.bal_amount').html().replace("$", "").replace(",", "");
        original = curelm.parent('td').siblings('.original').html().replace("$", "").replace(",", "");
        credits = curelm.parent('td').siblings('.credits').html().replace("$", "").replace(",", "");
        ref_type = curelm.parent('td').siblings('.ref_type').html();
        appflg = curelm.parent('td').siblings('.appflg').html();

        if ((Math.abs(applied) > Math.abs(balance) || Math.sign(applied) != Math.sign(balance))) {
            alert("Applied amount should be between 0 and " + balance);
            curelm.val('0.00');
            curelm.focus();
            return false;
        }

        calculateCrDb();
    })

    function calculateCrDb() {
        totalcredits = 0; totaldebits = 0;

        $("#CashReceiptsInfo tr").each(function () {
            ref_type = $(this).find('.ref_type').html().toUpperCase();
            if (ref_type == "PAYMENT" || ref_type == "CREDIT" || ref_type == "RTV" || ref_type == "DEBIT" || ref_type == "D") {
                totalcredits += parseFloat($(this).find('.app_amt_td').find('.app_amount_values').val().replace("$", ""));
            }
            if (ref_type == "INVOICE" || ref_type == "MEMO") {
                totaldebits += parseFloat($(this).find('.app_amt_td').find('.app_amount_values').val().replace("$", ""));
            }
        })

        $("#credits").val('$' + Math.abs(totalcredits).toFixed(2));
        $("#debits").val('$' + Math.abs(totaldebits).toFixed(2));
        $("#diference").val('$' + (Math.abs(totalcredits) - Math.abs(totaldebits)).toFixed(2));
    }

    $(document).on('click', '#btnPrint', function () {
        $('.cashReceiptInfo').removeClass('d-none');
        printNormalHtmlTable('cashReceiptInfo');
        $('.cashReceiptInfo').addClass('d-none');
    })

    $(document).on('click', '#btnPreview', function () {
        previewNormalHtmlTable('cashReceiptInfo');
    })

    $(document).on('click', '.btnDownloadPDF', function () {
        $('.cashReceiptInfo').removeClass('d-none');
        pdfNormalHtmlDiv('cashReceiptInfo');
        $('.cashReceiptInfo').addClass('d-none');
    })

    $(document).on('click', '.btnDownloadExcel', function () {
        excelFromNormalDivTable("cashReceiptInfo");
    })

    function ClearControls() {
        window.location.href = "../SalesPaymentsCredits/EditAdjRcvable";
    }

    $(document).on('click', ".closePrintModel", function () {
        ClearControls();
    })


</script>

<style>
    .blue-bg-para {
        background: blue;
        color: #fff;
        text-align: center;
        padding: 3px;
    }

    .empty-well p {
        padding: 100px;
    }

    .CashReceiptsInfo {
        max-height: 300px;
        overflow-y: scroll;
    }

    .app_amount_values {
        background: #fdfdfd;
        border: 1px solid #f8f8f8;
        width: 100px;
    }

        .app_amount_values:focus {
            border: 1px solid #8aaf6a;
            box-shadow: 0px 0px 4px #6da141;
        }

    .autocomplete-item2 {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }
</style>