<!--
  * Created by Phanindra on 12-12-2024
    Phanindra 12/30/2024 Worked on print related changes.
    Phanindra 02/11/2026 Converted to YJCore.
-->
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@model YJWebCoreMVC.Models.SalesPaymentsCreditsModel

<div id="content-center" class="row">

    <div class="web-form page login-page col-sm-12" id="FormForEditQuotation">

        <div class="form-horizontal">
            <div>
                <div class="row">
                    <div class="col-sm-5 text-right">
                        <label>Receipt No</label>
                    </div>
                    <div class="col-sm-4 ">
                        <input type="text" id="receipt_no" class="form-control" />
                    </div>
                    <div class="col-sm-3">
                        <button class="formsGlobalUniqueBtn printAdjRcvable" id="printAdjRcvable">OK</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 print_options"></div>
                </div>
            </div>
        </div>


    </div>


</div>

<script type="text/javascript">

    $(document).on('click', '#printAdjRcvable', function () {
        $('#printAdjRcvable').html('Loading...');
        receipt_no = $("#receipt_no").val();
        $.ajax({
            url: "../SalesPaymentsCredits/GetPayment",
            type: "POST",
            data: {
                inv_no: receipt_no,
                rtv_pay: 'F'
            },
            success: function (res) {
                if (res != "" && res != null && res != "null") {
                    $.ajax({
                        url: "../SalesPaymentsCredits/PrintAdjRcvable",
                        type: "POST",
                        data: {
                            inv_no: receipt_no
                        },
                        success: function (res) {
                            $(".print_options").html(res);
                            $('#printAdjRcvable').html('OK');
                        }
                    })
                } else {
                    alert("Invalid Receivable No.");
                }
            }
        })

    })

    $(document).on('click', '#btnPrint', function () {
        $('.cashReceiptInfo').removeClass('d-none');
        printNormalHtmlTable('cashReceiptInfo');
        $('.cashReceiptInfo').addClass('d-none');
    })

    $(document).on('click', '#btnPreview', function () {
        previewNormalHtmlTable('cashReceiptInfo');
    })

    $(document).on('click', '.btnDownloadPDF', function () {
        $('.cashReceiptInfo').removeClass('d-none');
        pdfNormalHtmlDiv('cashReceiptInfo');
        $('.cashReceiptInfo').addClass('d-none');
    })

    $(document).on('click', '.btnDownloadExcel', function () {
        excelFromNormalDivTable("cashReceiptInfo");
    })


</script>
<style>
    #FormForEditQuotation {
        max-width: 500px;
        margin: 0px auto;
    }

    .report_buttons1 {
        width: 350px;
        margin: 0px auto;
    }
</style>